*~
*.bak
vendor/bin
vendor/brianium/paratest/test/fixtures/tests
vendor/phpunit/dbunit/Samples
vendor/phpunit/dbunit/Tests
vendor/phpunit/php-code-coverage/tests
vendor/phpunit/php-timer/Tests
vendor/phpunit/php-token-stream/Tests
vendor/phpunit/phpunit-mock-objects/tests
vendor/phpunit/phpunit/tests
vendor/sebastian/comparator/tests
vendor/sebastian/diff/tests
vendor/sebastian/environment/tests
vendor/sebastian/exporter/tests
vendor/sebastian/version/tests
vendor/symfony/console/Symfony/Component/Console/Tests
vendor/symfony/dependency-injection/Symfony/Component/DependencyInjection/Tests
vendor/symfony/event-dispatcher/Symfony/Component/EventDispatcher/Tests
vendor/symfony/process/Symfony/Component/Process/Tests
vendor/symfony/yaml/Symfony/Component/Yaml/Tests

bower_components/jquery/
bower_components/jquery-ui/
bower_components/angular-unsavedChanges/demo/